.popImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.popImg:hover {opacity: 0.8;}

#popImgModal {
 display: none; /* Hidden by default */	
 height: auto;	
}

.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  margin: 0px auto;
  z-index: 500; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  right:0;  
  top: 0; 
  width: 100%;
  max-width: 962px; /* Full width */
  height: auto; /* Full height */
  /*overflow: auto; */ /* Enable scroll if needed */
  font-size: 28px;
  color: rgb(0, 31, 77);	 
  background-color: rgb(238, 240, 247); /* Fallback color */
}

.modalHorizontal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  margin: 0px auto;
  z-index: 500; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  right:0;  
  top: 0; 
  width: 100%;
  max-width: 1200px; /* Full width */
  height: auto; /* Full height */
  /*overflow: auto; */ /* Enable scroll if needed */
  font-size: 28px;
  color: rgb(0, 31, 77);	 
  background-color: rgb(238, 240, 247); /* Fallback color */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 100%;
  overflow: scroll;
}

/* Caption of Modal Image */
#modal-Caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
} 

/* The Close Button */
.close {
  position: absolute;
  top: 10px;
  right: 30px;
  color: #f1f1f1;
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
/*@media only screen and (max-width: 700px){
  .modal-content {
    width: 80%;
  }
}*/

/*---------------------------------------------------------------------------*/

.simple-modal {
  --gutter: 14px; 
  --modal-color: rgb(0, 31, 77);
  --soft-color: #fafafa; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  position: fixed;
  background-color: rgba(0,0,0,.7);
  padding-top: 2%;
}  

.simple-modal-content {
  width: 95vw;
  max-width: 962px;
  height: auto;
  max-height: auto;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.simple-modal-header {
  min-height: 60px;
  height: 60px;
  color: #ffffff;
  background-color: var(--modal-color);
  display: grid;
  padding-left: var(--gutter);
  align-items: center;
  grid-template-columns: auto 60px;
}
     
.simple-modal-span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 20px;
  opacity: .8;
  cursor: pointer;
}
        
.simple-modal-span:hover {
  opacity: 1;
}

.modal-main {
  flex: 1;
  text-align: left;
  overflow: auto;
  padding: var(--gutter);
}

.simple-modal-footer {
  height: auto;
  text-align: right;
  border-top: solid 1px #cccccc;
  padding: var(--gutter);
  background-color: #ffffff;
  background-color: var(--soft-color);
}
  
.simple-modal-footer:button input {
  margin: 0;
}
  
.simple-modal-footer:not(:last-child) {
  margin-right: var(--gutter);
}

.container {
  width: 100vw;
  height: 100vh;
/*  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(http://picsum.photos/2000); */
}